
/* logo圖片取代文字 記得加上圖片位址(url)和要放上去圖片所想要的寬度 */
@mixin wordChangePic{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

