
body {
  font-family: 'Baloo Tamma 2', cursive;
}

.btnWidth {
  width: 96px;
}

.baDge{
  font-size: .5rem;
}

/* 避免在滾動時被壓過去，讓nav那一整塊有浮起來的效果的關鍵 */
.zIndexTop {
  top: 0;
  z-index: 1020;
}

/* 小塊的區域分開滾動的關鍵 */
.sidebar{
  height: 800px;
  top: 6rem;
  overflow-y: scroll;
}

/* 卡片圖片自適應大小 */
.bg-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo{
  background-image: url('https://i.postimg.cc/cLj7nF64/logo.jpg');
  width: 150px;
  @include wordChangePic;
}
