body {
  font-family: 'Baloo Tamma 2', cursive,;
}

.btnWidth {
  width: 96px;
}

/* 進度條*/
.progress {
  height: 20px;

  .progress-bar {
    font-size: 15px;
    background: #ffdf65;
    color: #858377;
  }
}

.text .baDge {
  font-size: .5rem;
}

/* 避免在滾動時被壓過去，讓nav那一整塊有浮起來效果的關鍵 */
.zIndexTop {
  top: 0;
  z-index: 1020;
}

/* 小塊的區域分開滾動的關鍵 */
.sidebar {
  height: 800px;
  top: 6rem;
  overflow-y: scroll;
}

/* 卡片圖片自適應大小 */
.bg-cover {
  @include picAdaptive;
}

/* logo圖片取代文字 */
.logo {
  background-image: url('https://i.postimg.cc/cLj7nF64/logo.jpg');
  width: 150px;
  @include wordChangePic;
}

.card-title {
  font-size: 18px;
}

/* 手機版card圖片能自適應的關鍵 */
.card-img-top {
  width: 100%;
}

.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}